.avatar {
  font-size: 3rem;
  width: 70px;
  height: 70px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-height: 700px) {
  .avatar {
    height: 50px;
    width: 50px;
  }
}
