.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  min-height: 70vh;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
