$fontColor: #ffff;
$blueLight: #00c4ff;
$blue: #30a2ff;
$yellowLight: #fff5b8;
$yellow: #ebb923;
$red: #c20e0e;
$lightRed: #ce1919;
$green: #3bd315;

$transitionTime: 0.5s;

$greenHalfTransparent: rgba(59, 211, 21, 0.45);
$redaHalfTransparent: rgba(194, 14, 14, 0.45);

$overlayBg: rgba(255, 251, 251, 0.815);

$greenShadow: 0px 0px 47px 1px rgba(59, 211, 21, 1);
