@import '../../theme/variables';

.header {
  background-color: $blue;
  padding: 10px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 2rem;
    color: $fontColor;
  }
}
