@import '../../theme/variables';

.footer {
  background-color: $blue;
  padding: 10px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__company {
    font-size: 2rem;
    color: $fontColor;
    transition: all $transitionTime;
  }
  &__github {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .footer {
    &__company {
      &:hover {
        color: $yellow;
      }
    }
  }
}
