@import "../../theme/variables";

.options {
  font-size: 1.2rem;
  position: fixed;
  right: -100%;
  top: 0;
  width: 50vw;
  height: 100%;
  z-index: 100;
  background-color: $blue;
  transition: all $transitionTime;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  color: $fontColor;
  padding: 70px 20px;
  overflow-y: auto;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    background-color: $blueLight;
    padding: 20px;
    border-radius: 20px;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
  }
  &__button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.show {
  right: 0;
}

@media (max-width: 768px) {
  .options {
    width: 300px;
  }
}
@media (max-width: 425px) {
  .options {
    width: 100%;
  }
}
